@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* * {
    outline: 2px solid red;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} */

html {
  padding: 0;
  margin: 0;
  display: flex;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #f9faf8;
}

body {
  background-color: #1f2937;
  color: #f9faf8;
}
.container {
  display: flex;
  flex-direction: row;
  background-color: #1f2937;
  color: #f9faf8;
  justify-content: space-around;
}

.header-link {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 20px;
}
.sub-text {
  color: #e5e7eb;
  font-size: 18px;
  width: 400px;
  padding-bottom: 20px;
}
.web-awesome {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
  width: 600px;
}

.container-lighter {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  background-color: #f9faf8;
}
h2 {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
}
.cons {
  display: flex;
  justify-content: center;
  align-self: center;
}
.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
.container-lighter .cons {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container-light {
  color: #f9faf8;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}
.items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  padding-bottom: 10rem;
  gap: 20px;
}
.left {
  display: flex;
  justify-content: flex-start;
}
.left,
.right {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.square .wrap {
  display: flex;
  gap: 50px;
  margin: 0px 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.square {
  width: 200px;
  height: 200px;
  border: 4px solid #3882f6;
  border-radius: 10px;
  margin-bottom: 10px;
}

.subtext {
  color: #1f2937;
  justify-content: center;
  font-size: 18px;
  font-weight: 700;
  width: 200px;
  gap: 10px;
}
.button {
  color: #f9faf8;
  border-radius: 10px;
  background-color: #3882f6;
  height: 35px;
  width: 80px;
  justify-content: center;
  text-align: center;

  border-radius: 10px;
}
.image {
  display: flex;
  padding: 10rem;
  height: 120px;
  width: 500px;
  justify-content: center;
  text-align: center;
  background-color: grey;
}
.container-grey {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #e5e7eb;
}

.quote {
  font-size: 36px;
  font: lighter;
  font-style: italic;
  color: #1f2937;
  padding: 10px 400px;
}
.luffy {
  font-size: 36px;
  color: #1f2937;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  padding-left: 50rem;
}
.call {
  background-color: #f9faf8;
  padding: 100px 50px; /* Adjusted padding to center the content more */
  display: flex;
  justify-content: center;
}

.blue {
  background-color: #3882f6;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 1000px;
  height: 150px;
  border-radius: 10px;
  padding: 0 20px;
}

.text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 60px;
}

.item {
  color: white;
  font-weight: bold;
}

.item-two {
  color: white;
}

.border-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 120px;
  border: 2px solid #e5e7eb;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  text-align: center;
  margin-left: -20px;
}
.footer {
  background-color: #1f2937;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #f9faf8;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
}
